<form action="#" th:action="@{/Policy/ReadDataIntervalForm}" th:object="${readDataInterval}" method="post">
  <p>Data: <input type="text" th:field="*{dataUrl}" /></p>
  <p>Assigner: <input type="text" th:field="*{assigner}" /></p>
  <p>Assignee: <input type="text" th:field="*{assigne}" /></p>
  <select th:field="*{intervalCondition}">
  <option 
      th:each="dropdownValue: ${singleSelectAllValues}"
      th:value="${dropdownValue}"
      th:text="${dropdownValue}" ></option>
</select>
<p>Start Time: <input type="datetime-local" th:field="*{startTime}" /></p>
<p>End Time: <input type="datetime-local" th:field="*{endTime}" /></p>
</form>