#logclient {
  display:flex;
  flex-direction:column;
  height: 90vh;
}

#logclient hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* #logclient .row { */
/*   margin-right: 15px; */
/*   margin-left: 15px; */
/* } */

#logclient-result {
  flex:1;
}

#logclient-timerange-selector {
  min-width:43em;
}

#logclient-timerange-selector .nav-tabs > li > a {
  margin-right:0;
}

#logclient-timerange-selector .tab-pane .row {
  margin-right: 10px;
  margin-left: 10px;
}

#log-table {
/*   font-family: monospace; */
/*   table-layout:fixed; */
}

#log-table .fill {
  width:100%;
}

#log-table .wordbreak {
  word-break: break-all;
  white-space: normal;
}

#log-table dd {
  margin-bottom:1em;
}

#log-table .display-none {
  display: none;
}

#log-table .container {
  padding-right: 15px;
  padding-left: 15px;
}

#log-table .overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
/*   white-space: nowrap; */
/*   max-width: 100%; */
/*   display:block; */
}

.text-nowrap {
  white-space: nowrap;
}

#logclient .modal,
#logclient .modal-backdrop {
  position:absolute !important;
}

#logclient-result {
 position: relative; 
}

#logclient-quickselect-values .btn {
  margin-right: 0;
}

/* .modal.fade .modal-dialog { */
/*   -webkit-transform: translate(0, 0); */
/*   -ms-transform: translate(0, 0); */
/*   transform: translate(0, 0); */
/*   -webkit-transition: -webkit-transform 0.3s ease-out; */
/*   -moz-transition: -moz-transform 0.3s ease-out; */
/*   -o-transition: -o-transform 0.3s ease-out; */
/*   transition: transform 0.3s ease-out; */
/* } */

/* #log-table .row { */
/*   margin-left: 15px; */
/*   margin-right: 15px; */
/* } */

/*
 * fix for data tables if a custom pagination on top
 * and bottom is used
 */
.dataTables_filter, .dataTables_info, .dataTables_length {
  width: auto;
}

.dataTables_paginate {
  float: none !important;
  text-align: center !important;
}

.dataTables_paginate ul.pagination {
  margin: 0;
}

mark {
  background: orange;
  color: black;
  border-radius: 4px;
}

div.slider {
/*   display: none; */
}

tr.details-control {
  cursor:pointer;
}

/*
 * borderless-table
 */
.table-borderless,
.table-borderless td,
.table-borderless th {
    border: 0;
}

#loader {
  position:absolute;
  left:50%;
  top:50%;
  margin: -2em 0 0 -2em;
  border: .4em solid #f3f3f3; /* Light grey */
  border-top: .4em solid #3498db; /* Blue */
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }

/* this will center the please wait dialog */
/* #pleaseWaitDialog { */
/*   text-align: center; */
/*   padding: 0!important; */
/* } */

/* #pleaseWaitDialog:before { */
/*   content: ''; */
/*   display: inline-block; */
/*   height: 100%; */
/*   vertical-align: middle; */
/*   margin-right: -4px; */
/* } */

/* #pleaseWaitDialog .modal-dialog { */
/*   display: inline-block; */
/*   text-align: left; */
/*   vertical-align: middle; */
/* } */