<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ODRL PAP</title>
<div th:include="fragments/css" th:remove="tag"></div>
</head>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: Black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div th:include="sidemenu"></div>
			<div class="right_col" style="height: 100vh;" role="main">
			<div class="mainheader">
			<div class="col-md-10 col-sm-10 col-xs-8">
					<div class="x_content settings" style="padding:15px;">
					<div th:if="${policyFragment == 'ProvideAccessPolicyForm'}" th:include="fragments/ProvideAccessPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'SpecificPurposePolicyForm'}" th:include="fragments/SpecificPurposePolicyForm" th:remove="tag"></div>
 					<div th:if="${policyFragment == 'DeleteAfterPolicyForm'}" th:include="fragments/DeleteAfterPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'ReadDataIntervalPolicyForm'}" th:include="fragments/ReadDataIntervalPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'LogAccessPolicyForm'}" th:include="fragments/LogAccessPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'odrl'}"  th:remove="tag" th:include="fragments/OdrlPolicyForm"></div> 
			</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/scripts :: bottom" th:remove="tag"></div>
	<!--<script src="/static/js/addSolution.js"></script>-->

</body>

</html>