<form th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{rules[0].type}" />
  <input type="hidden" th:field="*{rules[0].action.type}" />
  <input type="hidden" th:field="*{rules[0].preduties[0].type}" />
  <input type="hidden" th:field="*{rules[0].preduties[0].action.type}" />

  <div>
    <p>
    <h3><img src="../images/transit.png" style="height:60px;" /><br/>
      This policy gives permission to a specified IDS data consumer to read your data. <br/>
      But data must be anonymized in transit before it is sent. <br/>
      Using jsonPath left operand, you define which part of your data must be anonymized.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data/production-plan" th:field="*{target}" /></p>
  <p id="provider" >Data Provider*: <input  id="providerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="consumer" >Data Consumer*:
    <div id="consumerDiv" class="form-group blu-margin">
      <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
        <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
<!--  <p id="dutyAction" >Duty Action to anonymize data*:
  <div class="form-group blu-margin">
    <select id="dutyActionInput" class="form-control" th:field="*{dutyAction}" required="required">
      <option value="ROUND" selected>Round Action</option>
    </select>
  </div>-->
  </p>
  <!--<p>Enter a value for <i>ids:digit</i>*: <input required="required" type="text" size="40" placeholder=" e.g. -6" th:field="*{digit}" /></p>-->

  <div th:if="${(odrlPolicy?.rules != null) and (odrlPolicy?.rules[0].preobligations[0] != null ) and (odrlPolicy?.rules[0].preobligations[0].action.refinements != null )}">
    <th:block th:each="condition, itemStat : ${odrlPolicy?.rules[0].preobligations[0].action.refinements}">
      <div th:if="${(condition?.leftOperand?.name() == 'MODIFICATIONMETHOD')}">
        <input type="hidden" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].type}" />
        <input type="hidden" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].operator}" />
        <input type="hidden" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].leftOperand}" />
        <input type="hidden" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].rightOperand.type}" />
        <input type="hidden" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].replaceWith.type}" />

        <p>The modification method defines specific changes to be applied on a field of data. <br/>
        <div class="form-group blu-margin">
          <select class="form-control" onchange="methodOnChanges(this)" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].rightOperand.value}" required="required">
            <option value="http://example.com/anonymize/replace">Replace modification method</option>
            <option value="http://example.com/anonymize/delete" selected>Delete modification method</option>
          </select>
        </div>
        </p>
        <p id="replaceWith">Enter the value that you want to replace the field with*: <input id="replaceWithField" required="required" type="text" size="40" placeholder=" e.g. XXXX" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].replaceWith.value}" /></p>
        <p>Enter the field (<i>ids:jsonPath</i>) that you want to modify*: <input required="required" type="text" size="40" placeholder=" e.g. $.name" th:field="*{rules[0].preobligations[0].action.refinements[__${itemStat.index}__].jsonPath}" /></p>
      </div>
    </th:block>
  </div>

  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
