<form th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{rules[0].type}" />
  <input type="hidden" th:field="*{rules[0].action.type}" />
  <input type="hidden" th:field="*{rules[0].postduties[0].type}" />
  <input type="hidden" th:field="*{rules[0].postduties[0].action.type}" />

  <div th:if="${(odrlPolicy?.rules[0]?.type?.name() == 'PERMISSION') and (odrlPolicy?.rules[0]?.action?.type?.name() == 'USE')}">
    <p>
    <h3><img src="../images/count.png" style="height:60px;" /><br/>
      This policy restricts the numeric count of using your data by a specified IDS data consumer.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data/production-plan" th:field="*{target}" /></p>
  <p id="provider" >Data Provider*: <input  id="providerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="consumer" >Data Consumer*:
    <div id="consumerDiv" class="form-group blu-margin">
      <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
        <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>

  <div th:if="${(odrlPolicy?.rules != null) and (odrlPolicy?.rules[0].constraints != null )}">
    <th:block th:each="condition, itemStat : ${odrlPolicy?.rules[0].constraints}">
      <div th:if="${(condition?.leftOperand?.name() == 'COUNT')}">
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].type}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].operator}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].leftOperand}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.type}" />
        <p>Count*: <input required="required" type="text" size="40" placeholder=" e.g. 10" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.value}" /></p>
      </div>
    </th:block>
  </div>

  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
