<form id="demo-form2" class="form-horizontal form-label-left" th:action="@{/policy/DeleteAfterPolicyODRL}" th:object="${abstractPolicy}" method="post">
  <input type="hidden" th:field="*{ruleType}" />
  <input type="hidden" th:field="*{action}" />

  <div>
    <p>
      <h3><img src="../images/delete.png" style="height:60px;" /><br/>
      The assumption is that your data is stored in a database on consumer side.<br/>This policy requests to delete your data after a specified period of time.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{policyType}" onchange="policyTypeOnChanges(this)" required="required">
      <option value="Agreement">Agreement</option>
      <option value="Offer">Offer</option>
      <option value="Request">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data:production-plan" th:field="*{dataUrl}" /></p>
  <p id="assigner" >Assigner (Data Provider)*: <input id="assignerInput" required="required" type="text" size="40" value="My party"/></p>
  <p id="assignee" >Assignee (Data Consumer)*:
    <div id="assigneeDiv" class="form-group blu-margin">
      <select id="assigneeInput" class="form-control" th:field="*{assignee}" required="required">
        <option value="http://example.com/ids-party:consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
  <fieldset id="periodRadio">
    <input type="radio" id="durationValue" name="periodRadio" checked> Specify a time duration that the application has to wait before deleting the data:<br>
    <p>Duration value*:<input id="durationBox" type="text" required="required" size="5" th:field="*{duration.value}" />
      <select id="durationUnitBox" th:field="*{duration.timeUnit}">
        <option
                th:each="dropdownValue: ${T(de.fraunhofer.iese.ids.odrl.pap.model.TimeUnit).values()}"
                th:value="${dropdownValue}"
                th:text="${dropdownValue}" ></option>
      </select>
    </p>
    <input type="radio" id="TimeValue" name="periodRadio"> Specify an exact date and time to delete the data:<br>
    <p>Date and Time*: <input id="dateTimeBox" name="dateTime" required="required" type="text" th:field="*{dateTime}" disabled="disabled"/></p>
  </fieldset>

<button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
  <p/>
</form>