<form id="demo-form2" class="form-horizontal form-label-left" th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.type}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.useAction.type}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.deleteDutyAction.type}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.eventDutyConstraint.type}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.eventDutyConstraint.operator}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.eventDutyConstraint.leftOperand}" />
  <input type="hidden" th:field="*{permissionRuleUseAction.eventDutyConstraint.rightOperand.id}" />

  <div>
    <p>
      <h3><img src="../images/delete.png" style="height:60px;" /><br/>
      The assumption is that your data is stored in a database on consumer side.<br/>This policy allows the Data Consumer to use your data and requests to delete it immediately after.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data:production-plan" th:field="*{target}" /></p>
  <p id="provider" >Data Provider*: <input id="providerInput" required="required" type="text" size="40" value="My party"/></p>
  <p id="consumer" >Data Consumer*:
    <div id="consumerDiv" class="form-group blu-margin">
      <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
        <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
<button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
  <p/>
</form>