<form id="demo-form2" class="form-horizontal form-label-left" th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{rules[0].type}" />
  <input type="hidden" th:field="*{rules[0].action.type}" />
  <input type="hidden" th:field="*{rules[0].postduties[0].type}" />
  <input type="hidden" th:field="*{rules[0].postduties[0].action.type}" />

  <div>
    <p>
      <h3><img src="../images/delete.png" style="height:60px;" /><br/>
      The assumption is that your data will be stored in a database on the consumer side.<br/>This policy allows the Data Consumer to use your data and requests to delete it either immediately or with a delay after the usage.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data/production-plan" th:field="*{rules[0].target}" /></p>
  <p id="provider" >Data Provider*: <input id="providerInput" required="required" type="text" size="40" value="My party"/></p>
  <p id="consumer" >Data Consumer*:
    <div id="consumerDiv" class="form-group blu-margin">
      <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
        <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
  <fieldset id="periodRadio">
    <input type="radio" id="noValue" name="periodRadio" checked> In order to delete the data immediately after the usage, do not specify any time restriction.<br>

    <div th:if="${(odrlPolicy?.rules[0].postduties[0] != null) and (odrlPolicy?.rules[0].postduties[0].action.refinements != null )}">
    <th:block th:each="condition, itemStat : ${odrlPolicy?.rules[0].postduties[0].action.refinements}">
      <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].type}" />
      <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].operator}" />
      <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].leftOperand}" />
      <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.type}" />
     <div th:if="${(condition?.leftOperand?.name() == 'DELAY')}">
          <input type="radio" id="durationValue" name="periodRadio"> Specify a time duration that the application has to wait before deleting the data:<br>
          <div th:if="${(condition?.rightOperand?.entities != null )}">
            <th:block th:each="entity, iStat : ${condition?.rightOperand?.entities}">
              <div th:if="${(entity?.entityType?.name() == 'HASDURATION')}">
                <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].entityType}" />
                <input type="hidden" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].dataType}" />
                <p>Duration value*:<input id="durationBox" type="text" required="required" size="5" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].value}" disabled="disabled"/>
                  <select id="durationUnitBox" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].timeUnit}" disabled="disabled">
                    <option
                            th:each="dropdownValue: ${T(de.fraunhofer.iese.ids.odrl.policy.library.model.enums.TimeUnit).values()}"
                            th:value="${dropdownValue}"
                            th:text="${dropdownValue}" ></option>
                  </select>
                </p>                </div>
            </th:block>
          </div>
        </div>
        <div th:if="${(condition?.leftOperand?.name() == 'DATE_TIME')}">
          <input type="radio" id="TimeValue" name="periodRadio"> Specify an exact date and time to delete the data:<br>
          <p>Date and Time*: <input id="dateTimeBox" required="required" type="text" th:field="*{rules[0].postduties[0].action.refinements[__${itemStat.index}__].rightOperand.value}" disabled="disabled"/></p>
        </div>

    </th:block>
    </div>
  </fieldset>


<button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
  <p/>
</form>