<form  th:action="@{/policy/InterpretOdrlPolicy}" th:object="${odrlPolicy}" method="post">
  <div class="row">
    <div class="col-md-6"><span style="font-size: x-large;">Copy your ODRL policy here:</span> <textarea id="jsonString" style=" height: 80vh;" name="jsonString">[[${odrlPolicy}]]</textarea><p><button id="saveBtn" class="btn btn-primary" type="submit">Translate</button></p></div> <!-- 50% -->
    <div class="col-md-6" th:if="${translateFragment}"><span style="font-size: x-large;">Translation</span> <textarea id="translate" style=" height: 80vh;">[[${translate}]]</textarea>
  </div>
</form>
<script type="text/javascript">
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("jsonString"), {
                        lineNumbers: true,
                        lineWrapping: true,
                        readOnly: false,
                        theme: "neo",
                        matchBrackets: true,
                        matchTags: true,
                        autoCloseBrackets: true,
                        autoCloseTags: true,
                        foldCode: true,
                        foldGutter: true,
                        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
                        mode: "application/ld+json",
                        lint: true
                    });
    myCodeMirror.setSize("auto", "auto");
</script>
 <script type="text/javascript">
			var myCodeMirror = CodeMirror.fromTextArea(document
					.getElementById("translate"), {
				lineNumbers : false,
				lineWrapping: true,
				readOnly : false,
				theme : "neo",
				matchBrackets : true,
				matchTags : true,
				autoCloseBrackets : true,
				autoCloseTags : true,
				foldCode : true,
				foldGutter : true,
				gutters : [ "CodeMirror-linenumbers", "CodeMirror-foldgutter",
						"CodeMirror-lint-markers" ],
				mode : "application/xml",
				lint : true
			});
			myCodeMirror.setSize("auto", "auto");
</script>
