<form id="demo-form2" class="form-horizontal form-label-left" th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{rules[0].type}" />
  <input type="hidden" th:field="*{rules[0].action.type}" />

  <div th:if="${(odrlPolicy?.rules[0]?.type?.name() == 'PERMISSION') and (odrlPolicy?.rules[0]?.action?.type?.name() == 'USE')}">
    <p>
    <h3><img src="../images/provide_access.png" style="height:60px;" />  <img src="../images/interval.png" style="height:60px;" /><br/>
      This policy gives permission to a specified IDS data consumer to use your data in a specified time interval.</h3>
    </p>
  </div>

  <div th:if="${(odrlPolicy?.rules[0]?.type?.name() == 'PROHIBITION') and (odrlPolicy?.rules[0]?.action?.type?.name() == 'USE')}">
    <p>
    <h3><img src="../images/inhibit_access.png" style="height:60px;" />  <img src="../images/interval.png" style="height:60px;" /><br/>
      This policy prohibits a specified IDS data consumer to read your data in a specified time interval.</h3>
    </p>
  </div>

  <p>Policy type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data/production-plan" th:field="*{target}" /></p>
  <p id="provider" >Data Provider*: <input id="providerInput" required="required" type="text" size="40" value="My party"/></p>
  <p id="consumer" >Data Consumer*:
  <div id="consumerDiv" class="form-group blu-margin">
    <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
      <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
    </select>
  </div>
  </p>

  <div th:if="${(odrlPolicy?.rules != null) and (odrlPolicy?.rules[0].constraints != null )}">
    <th:block th:each="condition, itemStat : ${odrlPolicy?.rules[0].constraints}">
      <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].type}" />
      <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].operator}" />
      <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].leftOperand}" />
      <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.type}" />
        <fieldset id="permissionPeriodRadio">
          <div th:if="${(condition?.leftOperand?.name() == 'ELAPSED_TIME')}">
            <input type="radio" id="permissionDurationValue" name="permissionPeriodRadio" checked> Specify a time duration that the data can be used:<br>

            <div th:if="${(condition?.rightOperand?.entities != null )}">
              <th:block th:each="entity, iStat : ${condition?.rightOperand?.entities}">
                <div th:if="${(entity?.entityType?.name() == 'BEGIN')}">
                  <input type="checkbox" id="specifyBeginTimeCheckbox" name="specifyBeginTimeCheckboxInput" checked> Specify a begin time<br>
                  <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].entityType}" />
                  <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].dataType}" />
                  <p><input id="permissionBeginTime" required="required" type="text" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].value}" /></p>
                </div>
                <div th:if="${(entity?.entityType?.name() == 'HASDURATION')}">
                  <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].entityType}" />
                  <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].dataType}" />
                  <p>Duration value*:<input id="permissionDurationBox" type="text" required="required" size="5" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].value}" />
                    <select id="permissionDurationUnitBox" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].timeUnit}">
                      <option
                              th:each="dropdownValue: ${T(de.fraunhofer.iese.ids.odrl.policy.library.model.enums.TimeUnit).values()}"
                              th:value="${dropdownValue}"
                              th:text="${dropdownValue}" ></option>
                    </select>
                  </p>                </div>
              </th:block>
            </div>
          </div>

          <div th:if="${(condition?.leftOperand?.name() == 'POLICY_EVALUATION_TIME')}">
            <input type="radio" id="permissionTimeValue" name="permissionPeriodRadio"> Specify exact starting and ending date and time that the data can be used:<br>
            <div th:if="${(condition?.rightOperand?.entities != null )}">
            <th:block th:each="entity, iStat : ${condition?.rightOperand?.entities}">
              <div th:if="${(entity?.entityType?.name() == 'BEGIN')}">
                <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].entityType}" />
                <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].dataType}" />
                <p>Start Time*: <input id="permissionStartTime" required="required" type="text" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].value}" disabled="disabled"/></p>
              </div>
              <div th:if="${(entity?.entityType?.name() == 'END')}">
                <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].entityType}" />
                <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].dataType}" />
                <p>End Time*: <input id="permissionEndTime" required="required" type="text" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.entities[__${iStat.index}__].value}" disabled="disabled"/></p>
              </div>
            </th:block>
            </div>
          </div>
        </fieldset>

    </th:block>
  </div>


<button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
  <p/>
</form>