<div th:fragment="top">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/switchery.min.js"></script>
<script src="/static/js/jszip.js"></script>
</div>

<div th:fragment="bottom">

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script	type="text/javascript"	src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script	type="text/javascript"	src="/static/js/bootbox.min.js"></script>
<script	type="text/javascript"	src="/static/js/pnotify.js"></script>
<script	type="text/javascript"	src="/static/js/pnotify.buttons.js"></script>
<script type="text/javascript" src="/static/js/filesaver.js"></script>
<script	type="text/javascript"	src="/static/js/sidebar.js"></script>
<script	type="text/javascript" src="/static/js/custom.js"></script>

<script	type="text/javascript"	src="/static/js/jquery_loadTemplate.min.js"></script>
<script	type="text/javascript"	src="/static/js/session-timeout.js"></script>
<script type="text/javascript" src="/static/js/datatables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.checkboxes.min.js"></script>
<script	type="text/javascript"	src="/static/js/icheck.min.js"></script>
<script type="text/javascript">
    function policyTypeOnChanges(control)	{

        var assigner = document.getElementById('assigner');
        var assignee = document.getElementById('assignee');

        var assignerInput = document.getElementById('assignerInput');
        var assigneeInput = document.getElementById('assigneeInput');

        if (control.value == 'Offer') {
            assigner.style.display = 'block';
            assignerInput.setAttribute('required', '');
            assignee.style.display = 'none';
            assigneeDiv.style.display = 'none';
            assigneeInput.removeAttribute("required");
        } else if (control.value == 'Request'){
            assigner.style.display = 'none';
            assignerInput.removeAttribute("required");
            assignee.style.display = 'block';
            assigneeDiv.style.display = 'block';
            assigneeInput.setAttribute('required', '');
        } else{
            assigner.style.display = 'block';
            assignerInput.setAttribute('required', '');
            assignee.style.display = 'block';
            assigneeDiv.style.display = 'block';
            assigneeInput.setAttribute('required', '');
        }
    }

    function activateButton(control)	{
        var saveBtn = document.getElementById('saveBtn');

        if(control.value != ""){
            saveBtn.removeAttribute('disabled');
        }else{
            saveBtn.setAttribute('disabled',true);
        }
    }

    $(function () {
        $("input[name='periodRadio']").click(function () {
            if ($("#durationValue").is(":checked")) {
                $("#durationBox").removeAttr("disabled");
                $("#durationUnitBox").removeAttr("disabled");
                $("#dateTimeBox").attr("disabled", "disabled");
                $("#durationBox").focus();
            } else {
                $("#durationBox").attr("disabled", "disabled");
                $("#durationUnitBox").attr("disabled", "disabled");
                $("#dateTimeBox").removeAttr("disabled");
                $("#dateTimeBox").focus();
            }
        });
    });

    $(function () {
        $("input[name='purposeCheckboxInput']").click(function () {
            if ($("#purposeCheckbox").is(":checked")) {
                $("#purposeInput").removeAttr("disabled");
                $("#purposeInput").focus();
            } else {
                $("#purposeInput").attr("disabled", "disabled");
            }
        });
    });

    $(function () {
        $("input[name='locationCheckboxInput']").click(function () {
            if ($("#locationCheckbox").is(":checked")) {
                $("#locationInput").removeAttr("style");
                $("#locationInput").removeAttr("disabled");
                $("#locationInput").focus();
            } else {
                $("#locationInput").attr("style", "visibility: hidden");
                $("#locationInput").attr("disabled", "disabled");
            }
        });
    });

    $(function () {
        $("input[name='systemCheckboxInput']").click(function () {
            if ($("#systemCheckbox").is(":checked")) {
                $("#systemInput").removeAttr("disabled");
                $("#systemInput").focus();
            } else {
                $("#systemInput").attr("disabled", "disabled");
            }
        });
    });

    $(function () {
        $("input[name='eventCheckboxInput']").click(function () {
            if ($("#eventCheckbox").is(":checked")) {
                $("#eventInput").removeAttr("disabled");
                $("#eventInput").focus();
            } else {
                $("#eventInput").attr("disabled", "disabled");
            }
        });
    });

    $(function () {
        $("input[name='timeIntervalCheckboxInput']").click(function () {
            if ($("#timeIntervalCheckbox").is(":checked")) {
                $("#startTimeInput").removeAttr("disabled");
                $("#endTimeInput").removeAttr("disabled");
            } else {
                $("#startTimeInput").attr("disabled", "disabled");
                $("#endTimeInput").attr("disabled", "disabled");
            }
        });
    });

    $(function () {
        $("input[name='paymentCheckboxInput']").click(function () {
            if ($("#paymentCheckbox").is(":checked")) {
                $("#paymentValueInput").removeAttr("disabled");
                $("#paymentValueInput").focus();
                $("#paymentContractInput").removeAttr("disabled");
            } else {
                $("#paymentValueInput").attr("disabled", "disabled");
                $("#paymentContractInput").attr("disabled", "disabled");
            }
        });
    });

	// start time picker
    $('input[name="startTime"]').daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "autoApply": true,
        locale: {
            format: 'YYYY-MM-DDTHH:mm:ss'
            },
        "startDate": Date.now()
    }, function(start, end, label) {
      console.log('New start time selected: ' + start.toISOString());
    });

	// end time picker
    $('input[name="endTime"]').daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "autoApply": true,
        locale: {
            format: 'YYYY-MM-DDTHH:mm:ss'
            },
        "endDate": Date.now()
    }, function(start, end, label) {
      console.log('New end time selected: ' + end.toISOString());
    });

	// date time picker
    $('input[name="dateTime"]').daterangepicker({
        "singleDatePicker": true,
        "timePicker": true,
        "timePicker24Hour": true,
        "autoApply": true,
        locale: {
            format: 'YYYY-MM-DDTHH:mm:ss'
            },
        "dateTime": Date.now()
    }, function(start, end, label) {
      console.log('New end time selected: ' + end.toISOString());
    });

</script>
</div>
