<form th:action="@{/policy/ODRLCreator}" th:object="${odrlPolicy}" method="post">
  <input type="hidden" th:field="*{policyId}" />
  <input type="hidden" th:field="*{consumer.type}" />
  <input type="hidden" th:field="*{rules[0].type}" />
  <input type="hidden" th:field="*{rules[0].action.type}" />

  <div th:if="${(odrlPolicy?.rules[0]?.type?.name() == 'PERMISSION') and (odrlPolicy?.rules[0]?.action?.type?.name() == 'USE')}">
    <p>
    <h3><img src="../images/provide_access.png" style="height:60px;" />  <img src="../images/purpose.png" style="height:60px;" /><br/>
      This policy gives permission to a specified IDS data consumer to use your data for a specified purpose.</h3>
    </p>
  </div>

  <div th:if="${(odrlPolicy?.rules[0]?.type?.name() == 'PROHIBITION') and (odrlPolicy?.rules[0]?.action?.type?.name() == 'USE')}">
  <p>
    <h3><img src="../images/inhibit_access.png" style="height:60px;" />  <img src="../images/purpose.png" style="height:60px;" /><br/>
      This policy prohibits a specified IDS data consumer to read your data for a specified purpose.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{type}" onchange="typeOnChanges(this)" required="required">
      <option value="AGREEMENT">Agreement</option>
      <option value="OFFER">Offer</option>
      <option value="REQUEST">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data/production-plan" th:field="*{target}" /></p>
  <p id="provider" >Data Provider*: <input  id="providerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="consumer" >Data Consumer*:
    <div id="consumerDiv" class="form-group blu-margin">
      <select id="consumerInput" class="form-control" th:field="*{consumer.uri}" required="required">
        <option value="http://example.com/party/consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>

  <div th:if="${(odrlPolicy?.rules != null) and (odrlPolicy?.rules[0].constraints != null )}">
    <th:block th:each="condition, itemStat : ${odrlPolicy?.rules[0].constraints}">
      <div th:if="${(condition?.leftOperand?.name() == 'PURPOSE')}">
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].type}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].operator}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].leftOperand}" />
        <input type="hidden" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.type}" />
        <p>Any certified application in the market place uses the data for a specified purpose. <br/>
          You can restrict the usage of your data to specific applications by choosing your intended purpose from the list below*:
          <div class="form-group blu-margin">
            <select class="form-control" th:field="*{rules[0].constraints[__${itemStat.index}__].rightOperand.value}" required="required">
              <option value="http://example.com/ids-purpose:Marketing" selected>Marketing</option>
              <option value="http://example.com/ids-purpose:Risk-Management">Risk Management</option>
            </select>
          </div>
        </p>
      </div>
    </th:block>
  </div>

  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
