<form th:action="@{/policy/SpecificEventPolicyODRL}" th:object="${abstractPolicy}" method="post">
  <input type="hidden" th:field="*{ruleType}" />
  <input type="hidden" th:field="*{action}" />

  <div th:if="${abstractPolicy?.ruleType?.name() == 'PERMISSION'}">
    <p>
    <h3><img src="../images/provide_access.png" style="height:60px;" />  <img src="../images/event.png" style="height:60px;" /><br/>
      This policy gives permission to a specified IDS data consumer to read your data during a specific event.</h3>
    </p>
  </div>

  <div th:if="${abstractPolicy?.ruleType?.name() == 'PROHIBITION'}">
    <p>
    <h3><img src="../images/inhibit_access.png" style="height:60px;" />  <img src="../images/event.png" style="height:60px;" /><br/>
      This policy prohibits a specified IDS data consumer to read your data during a specific event.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{policyType}" onchange="policyTypeOnChanges(this)" required="required">
      <option value="Agreement">Agreement</option>
      <option value="Offer">Offer</option>
      <option value="Request">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data:production-plan" th:field="*{dataUrl}" /></p>
  <p id="assigner" >Assigner (Data Provider)*: <input  id="assignerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="assignee" >Assignee (Data Consumer)*:
    <div id="assigneeDiv" class="form-group blu-margin">
      <select id="assigneeInput" class="form-control" th:field="*{assignee}" required="required">
        <option value="http://example.com/ids-party:consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
  <p>Event*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-event:exhibition" th:field="*{event}" /></p>

  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
