
<form id="demo-form2" class="form-horizontal form-label-left">
  <div>
    <p>
      <h3>Data Usage Control Scenario <br/><br/>
      <center><img src="../images/PAP-Editor_Scenario.png" style="height:300px;" /></center>
      </h3>
    </p>
  </div>
  <br/>
  <p>
    <h4 style="line-height:30px;">
    An IDS customer can be a Data Provider or a Data Consumer.<br/>
    There are variety of Data Usage Control policies that can be defined by data providers to protect their data.<br/>
    The Open Digital Rights Language (<a href="https://www.w3.org/TR/odrl-model/">ODRL</a>) is a policy expression language that provides a flexible and interoperable information model, vocabulary, and encoding mechanisms for representing statements about the usage of content and services. <br/>
    <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policies are technology-independent and are not made to be technically enforced to a system. Therefore, it is been decided to use this language as a baseline for other technology-dependent solutions that can enforce Data Usage Control policies into the systems to protect data.<br/>
    One of the technology-dependent policy languages and platforms provided by <a href="https://www.iese.fraunhofer.de/">Fraunhofer IESE</a> is <a href="https://developer.mydata-control.de/">MYDATA</a>.<br/>
    <a href="https://developer.mydata-control.de/">MYDATA</a> is a solution that intercepts events or data flows in a system and enforces a security decision based on <a href="https://developer.mydata-control.de/">MYDATA</a> policies.<br/><br/>

    <b>PAP Editor</b><br/>
    In this tool, we have implemented an editor that supports the data providers to specify their Data Usage Control <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policies.<br/>
    In addition, they can use this tool to translate the <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policies to <a href="https://developer.mydata-control.de/">MYDATA</a> policies.<br/><br/>

      <b><h3>Click <u><a href="/policy/HowTo">here</a></u> to learn how to use this editor!</h3></b>


      <br/>
      <div class="alert-success row col-md-11">
        <br/>
        <div class="col-md-1"><center><i class="fas fa-question fa-4x" ></i></center></div>
        <div class="col-md-10">
          <p>
            Please check our page on <a href="https://www.ids.isst.fraunhofer.de/confluence/pages/viewpage.action?spaceKey=FDS&title=T8+-+Work+Content">IDS confluence</a> to get more information about the policy transformation rules, ODRL and MYDATA policy specification and IDS specific profile. <br/>
            IDS profile includes information model about the IDS Actions and IDS Left Operands.<br/>
            If you have any further questions, please do not hesitate to <a href="https://www.mydata-control.de/#contact">Contact us</a>.<br/>
          </p>
        </div>
        <br/>
      </div>
    <br/>
    </h4>
  </p>
</form>
