<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ODRL PAP</title>
<div th:include="fragments/css" th:remove="tag"></div>
<div th:include="fragments/textareaStyleCSS" th:remove="tag"></div>
</head>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: Black;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
<body class="nav-md">
	<div class="container body">
	<div class="main_container">
	<div th:include="sidemenu"></div>
	<div th:include="topNavigation"></div>
	<div class="right_col" style="height: 100vh;" role="main">
		<div class="mainheader">
			<div class="col-md-12 col-sm-12 col-xs-8">
				<div class="x_content settings" style="padding:15px;">
					<div th:if="${policyFragment == 'index'}" th:include="fragments/Welcome" th:remove="tag"></div>
					<div th:if="${policyFragment == 'HowTo'}" th:include="fragments/Howto" th:remove="tag"></div>
					<div th:if="${policyFragment == 'BasePolicyForm'}" th:include="fragments/BasePolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'InterpretOdrlPolicy'}" th:include="fragments/InterpretOdrlPolicy" th:remove="tag"></div>
					<div th:if="${policyFragment == 'ComplexPolicyForm'}" th:include="fragments/ComplexPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'SpecificSystemPolicyForm'}" th:include="fragments/SpecificSystemPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'SpecificPurposePolicyForm'}" th:include="fragments/SpecificPurposePolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'SpecificLocationPolicyForm'}" th:include="fragments/SpecificLocationPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'SpecificEventPolicyForm'}" th:include="fragments/SpecificEventPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'EncodingPolicyForm'}" th:include="fragments/EncodingPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'DistributeToThirdPartyPolicyForm'}" th:include="fragments/DistributeToThirdPartyPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'DeleteAfterUsagePeriodPolicyForm'}" th:include="fragments/DeleteAfterUsagePeriodPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'DeleteAfterUsagePolicyForm'}" th:include="fragments/DeleteAfterUsagePolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'ReadDataIntervalPolicyForm'}" th:include="fragments/ReadDataIntervalPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'ReadAfterPaymentPolicyForm'}" th:include="fragments/ReadAfterPaymentPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'LogAccessPolicyForm'}" th:include="fragments/LogAccessPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'InformPolicyForm'}" th:include="fragments/InformPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'CountAccessPolicyForm'}" th:include="fragments/CountAccessPolicyForm" th:remove="tag"></div>
					<div th:if="${policyFragment == 'AnonymizeInTransitPolicyForm'}" th:include="fragments/AnonymizeInTransitPolicyForm" th:remove="tag"></div>
					<div th:include="fragments/textareaStyleScripts" th:if="${odrlFragment} or ${technologyDependentPolicyFragment} or ${translateFragment}" th:remove="tag"></div>
					<div th:if="${odrlFragment}"  th:remove="tag" th:include="fragments/OdrlPolicyForm"></div>
					<div th:if="${translateFragment}"  th:remove="tag" th:include="fragments/InterpretOdrlPolicy"></div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="fragments/scripts :: bottom" th:remove="tag"></div>
	<!--<script src="/static/js/addSolution.js"></script>-->
	</div>
	</div>
</body>

</html>
