
<div xmlns:th="http://www.w3.org/1999/xhtml"
	class="col-md-3 left_col ">
	<div class="left_col scroll-view">

		<div class="navbar nav_title" style="border: 0;">
			<a href="/" class="site_title1"> <i> 
			ODRL
			</i>
			</a>
		</div>

		<div class="clearfix"></div>



		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
			style="padding-top: 20px">
			<div id="sidebar" class="menu_section">
				<h3>Policy Editors</h3>
				<ul class="nav side-menu">
					<li><a href="/policy/ProvideAccessPolicyForm" id="policy_access_control"><i class="fas fa-check-square fa-4x" ></i>Access Control</a></li>
					<li><a href="/policy/SpecificPurposePolicyForm" id="policy_specific_purpose"><i class="fas fa-file-contract fa-4x" ></i>Specific Purpose</a></li>
					<li><a href="/policy/DeleteAfterPolicyForm" id="policy_delete_after"><i class="fas fa-hourglass-half fa-4x" ></i>Delete After</a></li>
					<li><a href="/policy/ReadDataIntervalPolicyForm" id="policy_read_data_interval"><i class="fas fa-calendar-check fa-4x" ></i>Read for Interval</a></li>
					<li><a href="/policy/LogAccessPolicyForm" id="policy_log_access"><i class="fas fa-pen-square fa-4x"></i>Log Access</a></li>
				</ul>
			</div>
		</div>
		<div class="sidebar-footer hidden-small">
			&copy; <script>document.write(new Date().getFullYear())</script> Fraunhofer IESE<br/>
        </div>
	</div>
</div>
