
<div class="top_nav" xmlns:th="http://www.thymeleaf.org">
	<div class="nav_menu">
		<nav>
			<div class="nav toggle">
				<a id="menu_toggle"><i class="fas fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li class="">
					<a
					style="color: white !important;"
					class="user-profile dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false">
						<img class="img-circle profile_img" style="display:inline;" src="../images/John.JPG" alt=""/>
						<span>John</span>
						<span>Doe</span>
						<div class=" fa fa-angle-down"></div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
