<form th:action="@{/policy/CountAccessPolicyODRL}" th:object="${countAccessPolicy}" method="post">
  <input type="hidden" th:field="*{ruleType}" />
  <input type="hidden" th:field="*{action}" />

  <div>
    <p>
    <h3><img src="../images/count.png" style="height:60px;" /><br/>
      This policy restricts the numeric count of reading your data by a specified IDS data consumer.</h3>
    </p>
  </div>

  <p>Policy Type*:
    <select id="policyType" th:field="*{policyType}" onchange="disableAffiliationBox(this)" required="required">
      <option value="Agreement">Agreement</option>
      <option value="Offer">Offer</option>
      <option value="Request">Request</option>
    </select>
  </p>
  <p>Data URI*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data:production-plan" th:field="*{dataUrl}" /></p>
  <p id="assigner" >Assigner*: <input  id="assignerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="assignee" >Assignee*:
    <div id="assigneeDiv" class="form-group blu-margin">
      <select id="assigneeInput" class="form-control" th:field="*{assignee}" required="required">
        <option value="http://example.com/ids-party:consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
  <p>Count*: <input required="required" type="text" size="40" placeholder=" e.g. 10" th:field="*{count}" /></p>

  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
