
<form id="demo-form2" class="form-horizontal form-label-left">
  <div>
    <p>
      <h3>How To<br/><br/>
      <center><img src="../images/PAP-Editor_Scenario.png" style="height:300px;" /></center>
      </h3>
    </p>
  </div>
  <br/>
  <p>
    <h4 style="line-height:30px;">
    <ul>
      <li>As an IDS Data Provider, you can choose a policy class from the side bar of the tool and then, follow the instructions.</li>
      <li>By pressing the "Save" button, you will get the corresponding <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policy.</li>
      <li>In order to get the <a href="https://developer.mydata-control.de/">MYDATA</a> policy, you can press the "Transfer" button.</li>
      <li>In addition, you can export the <a href="https://developer.mydata-control.de/">MYDATA</a> policy from this editor. </li>
      <li>This exported <a href="https://developer.mydata-control.de/">MYDATA</a> policy is ready to be imported into the <a href="https://developer.mydata-control.de/">MYDATA</a> PMP (Policy Management Point). You can then deploy the <a href="https://developer.mydata-control.de/">MYDATA</a> policy.</li>
    </ul>
    <br/>
    <div class="alert-warning row col-md-11">
      <br/>
      <div class="col-md-1"><center><i class="fas fa-exclamation fa-4x" ></i></center></div>
      <div class="col-md-10">
        <p>
          Be aware that deploying <a href="https://developer.mydata-control.de/">MYDATA</a> policy into the <a href="https://developer.mydata-control.de/">MYDATA</a> PDP (Policy Decision Point) is not enough for the policy enforcement. <br/>
          You still need to create <a href="https://developer.mydata-control.de/">MYDATA</a> PEP (Policy Enforcement Point) and the needed <a href="https://developer.mydata-control.de/">MYDATA</a> PIPs (Policy Information Points) and <a href="https://developer.mydata-control.de/">MYDATA</a> PXPs (Policy Execution Points).<br/>
          When the enforcement point is implemented, then you can be assured that your data is technically protected. To implement your <a href="https://developer.mydata-control.de/">MYDATA</a> PEP (Policy Enforcement Point), follow the instructions documented in <a href="https://developer.mydata-control.de/sdk/howto_pep.html">MYDATA Web Page</a>.
        </p>
      </div>
      <br/>
    </div>
    <br/>
    </h4>

  </p>
</form>
