<form th:action="@{/policy/LogAccessPolicyODRL}" th:object="${logAccessPolicy}" method="post">
  <p>Policy*:
    <select id="policyType" th:field="*{policyType}" onchange="disableAffiliationBox(this)" required="required">
      <option value="Agreement">Agreement</option>
      <option value="Offer">Offer</option>
      <option value="Request">Request</option>
    </select>
  </p>
  <p>Data*: <input required="required" type="text" size="60" placeholder=" e.g. http://example.com/ids-data:1254" th:field="*{dataUrl}" /></p>
  <p id="assigner" >Assigner*: <input id="assignerInput" required="required" type="text" size="60" placeholder=" e.g. http://example.com/ids-party:my-party" th:field="*{assigner}" /></p>
  <p id="assignee" >Assignee*: <input id="assigneeInput" required="required"  type="text" size="60" placeholder=" e.g. http://example.com/ids-party:consumer-party" th:field="*{assignee}" /></p>
  <p>Purpose*: <input type="text" size="60" required="required" placeholder=" e.g. http://example.com/party:ESN-database" th:field="*{recipient}" /></p>
  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
  <p/>
</form>
