<form  th:action="@{/policy/JsonOrdlPolicyMAYDATA}" th:object="${jsonOdrlPolicy}" method="post">
  <div class="row">
  <p>
  <span style='float: left;'>
  <font size="5">ODRL</font>
  <textarea id="jsonString" name="jsonString" style="width: 45%; height: 80vh">[[${odrlPolicy}]]</textarea>	
  </span>
  <span>
  <div th:if="${mydataFragment}" th:remove="tag">
   <font size="5">MYDATA</font>
	<textarea id="mydataPolicy" style="width: 45%; height: 80vh">[[${mydataPolicy}]]</textarea>
  </div>
  </span>
  </p>
  </div>
  <div style="clear:both;"></div>
  <button id="saveBtn" type="submit" class="btn btn-primary">Transfer</button>
  <button id="exportPolicyBtn" type="button" onclick="JavaScript:exportMYDATAPolicy()" class="btn btn-primary">Export</button>
  <p/>
</form>
<script type="text/javascript">
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("jsonString"), {
                        lineNumbers: true,
                        lineWrapping: true,
                        readOnly: false,
                        theme: "neo",
                        matchBrackets: true,
                        matchTags: true,
                        autoCloseBrackets: true,
                        autoCloseTags: true,
                        foldCode: true,
                        foldGutter: true,
                        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
                        mode: "application/ld+json",
                        lint: true
                    });
    myCodeMirror.setSize("auto", "auto");
</script>
 <script type="text/javascript">
			var myCodeMirror = CodeMirror.fromTextArea(document
					.getElementById("mydataPolicy"), {
				lineNumbers : true,
				lineWrapping: false,
				readOnly : false,
				theme : "neo",
				matchBrackets : true,
				matchTags : true,
				autoCloseBrackets : true,
				autoCloseTags : true,
				foldCode : true,
				foldGutter : true,
				gutters : [ "CodeMirror-linenumbers", "CodeMirror-foldgutter",
						"CodeMirror-lint-markers" ],
				mode : "application/xml",
				lint : true
			});
			myCodeMirror.setSize("auto", "auto");
</script>
<script type="text/javascript">
  function exportMYDATAPolicy() {
    var blob = new Blob([document.getElementById("mydataPolicy").value], {type: 'application/xml'});
    var a = document.createElement('a');
    a.href = window.URL.createObjectURL(blob);
    a.download = 'mydatapolicyexport-' + Math.round(new Date().getTime()/1000) + '.xml';
    a.dispatchEvent(new MouseEvent('click'));
  }
</script>
