<form th:action="@{/policy/JsonOrdlPolicyMAYDATA}" th:object="${jsonOdrlPolicy}" method="post">
  <p>
  <textarea id="jsonString" name="jsonString" style="width: 100%; height: 80vh">[[${odrlPolicy}]]</textarea>
  </p>
  <button id="saveBtn" type="submit" class="btn btn-primary">Transfer</button>
  <p/>
</form>
<script type="text/javascript">
var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("jsonString"), {
                        lineNumbers: true,
                        readOnly: false,
                        theme: "neo",
                        matchBrackets: true,
                        matchTags: true,
                        autoCloseBrackets: true,
                        autoCloseTags: true,
                        foldCode: true,
                        foldGutter: true,
                        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
                        mode: "application/ld+json",
                        lint: true
                    });
    myCodeMirror.setSize("100%", "80vh");
</script>
