<div th:fragment="top">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/switchery.min.js"></script>
<script src="/static/js/jszip.js"></script>
</div>

<div th:fragment="bottom">
<script	type="text/javascript"	src="/static/js/bootstrap.min.js"></script>
<script	type="text/javascript" src="/static/js/custom.js"></script>
 

<script	type="text/javascript"	src="/static/js/bootbox.min.js"></script>
<script	type="text/javascript"	src="/static/js/pnotify.js"></script>
<script	type="text/javascript"	src="/static/js/pnotify.buttons.js"></script>
<script type="text/javascript" src="/static/js/filesaver.js"></script>
<script	type="text/javascript"	src="/static/js/sidebar.js"></script>


<script	type="text/javascript"	src="/static/js/jquery_loadTemplate.min.js"></script>
<script	type="text/javascript"	src="/static/js/session-timeout.js"></script>
<script type="text/javascript" src="/static/js/datatables.min.js"></script>
<script type="text/javascript" src="/static/js/dataTables.checkboxes.min.js"></script>
<script	type="text/javascript"	src="/static/js/icheck.min.js"></script>
</div>
