<form th:action="@{/policy/SpecificPurposePolicyODRL}" th:object="${specificPurposePolicy}" method="post">
  <input type="hidden" th:field="*{ruleType}" />

  <div th:if="${specificPurposePolicy?.ruleType?.name() == 'PERMISSION'}">
    <p>
    <h3><img src="../images/provide_access.png" style="height:60px;" />  <img src="../images/purpose.png" style="height:60px;" /><br/>
      This policy gives permission to a specified IDS data consumer to read your data for a specified purpose.</h3>
    </p>
  </div>

  <div th:if="${specificPurposePolicy?.ruleType?.name() == 'PROHIBITION'}">
    <p>
    <h3><img src="../images/inhibit_access.png" style="height:60px;" />  <img src="../images/purpose.png" style="height:60px;" /><br/>
      This policy prohibits a specified IDS data consumer to read your data for a specified purpose.</h3>
    </p>
  </div>

  <p>Policy*:
    <select id="policyType" th:field="*{policyType}" onchange="disableAffiliationBox(this)" required="required">
      <option value="Agreement">Agreement</option>
      <option value="Offer">Offer</option>
      <option value="Request">Request</option>
    </select>
  </p>
  <p>Data*: <input required="required" type="text" size="40" placeholder=" e.g. http://example.com/ids-data:production-plan" th:field="*{dataUrl}" /></p>
  <p id="assigner" >Assigner*: <input  id="assignerInput" required="required" type="text" size="40" value="My party"></p>
  <p id="assignee" >Assignee*:
    <div class="form-group blu-margin">
      <select id="assigneeInput" class="form-control" th:field="*{assignee}" required="required">
        <option value="http://example.com/ids-party:consumer-party" selected>Consumer party</option>
      </select>
    </div>
  </p>
  <!--<p>Purpose*: <input type="text" size="40" required="required" placeholder=" e.g. Risk Management" th:field="*{purpose}" /></p>-->

  <p id="purpose" >Any certified application in the market place uses the data for a specified purpose. <br/>
    You can restrict the usage of your data to specific applications by choosing your intended purpose from the list below*:
  <div class="form-group blu-margin">
    <select id="purposeInput" class="form-control" th:field="*{purpose}" required="required">
      <option value="http://example.com/ids-purpose:Marketing" selected>Marketing</option>
      <option value="http://example.com/ids-purpose:Risk-Management">Risk Management</option>
    </select>
  </div>
  </p>
  <button id="saveBtn" type="submit" class="btn btn-primary">Save</button>
</form>
