<script	type="text/javascript" src="/static/js/codemirror.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-mode/javascript/javascript.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-mode/xml/xml.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/edit/matchbrackets.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/edit/closebrackets.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/edit/matchbrackets.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/edit/closetag.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/foldcode.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/foldgutter.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/xml-fold.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/brace-fold.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/indent-fold.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/fold/comment-fold.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/lint/lint.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/lint/json-lint.js"></script>
<script	type="text/javascript" src="/static/js/codemirror-addon/lint/html-lint.js"></script>
