
<form id="demo-form2" class="form-horizontal form-label-left">
  <p>
    <h4>In the IDS platform, there exists at least one connector per IDS customer.<br/>
    Each customer can be a Data Provider or a Data Consumer.<br/>
    There are variety of Data Usage Control policies that can be defined to protect the customers data.<br/>
    In this tool, we have implemented an editor that supports the customers to specify their Data Usage Control policies.<br/><br/>
    As an IDS customer, you can choose a policy type from the side bar and then, follow the instructions.<br/>
    You will get the corresponding <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policy.
    <br/>
    In addition, we have implemented a mapping tool that translates an <a href="https://www.w3.org/TR/odrl-model/">ODRL</a> policy to a <a href="https://developer.mydata-control.de/">MYDATA</a> policy.
    This policy can be deployed to <a href="https://developer.mydata-control.de/">MYDATA</a> framework to technically protect your data.
    </h4>
    <h3>Actions</h3>
    <h4>
      ids:read <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-read">odrl:read</a>. When there is no interface defined, it means http get.
      <br/><br/>
      ids:delete <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-delete">odrl:delete</a>. Remove all copies of an artifact in the consumer connector (assumption is that there is
      no copy of that data outside of the consumer connector)
      <br/><br/>
      ids:log <br/>
      To log information to a known logging server.
      <br/><br/>
      ids:inform <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-inform">odrl:inform</a>. To notify an informedParty that an action has been performed.
      <br/><br/>
      ids:print <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-print">odrl:print</a>.
      <br/><br/>
      ids:anonymize <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-anonymize">odrl:anonymize</a>. An anonymizationMethod left operand must be defined.
      <br/><br/>
      ids:reproduce <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-reproduce">odrl:reproduce</a>. To make a duplicate copy to the consumer side connector.
      <br/><br/>
      ids:display <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-display">odrl:display</a>. To visually render a resource (artifact).
      <br/><br/>
      ids:distribute <br/>
      Similar concept to <a href="https://www.w3.org/TR/odrl-vocab/#term-distribute">odrl:distribute</a>. To send data out of the connector (unauthorized party)
      <br/><br/>
    </h4>
  </p>
</form>
